$bg: #010203;
$border: #6495ED;
$text: #FFFF66;
$active: #FFFF66;
$inactive: #6495ED;
$font: "JetBrains Mono Nerd Font";
$blue: #6495ED;
$yellow: #FFFF66;
$yellow-soft: #FFCB37;
$cyan: #52FFF8;
$red: #F7635D;
$green: #3DD553;

html {
  font-size: 16px;
}

* {
  all: unset;
  font-family: 'JetBrains Mono';
  font-weight: 700;
  font-size: 1rem;
}

.main-container {
  background-color: transparent;
  padding: 0.3125rem 0;
}

.module {
  background-color: rgba(2, 4, 8, 0.95);

  border: 0.0625rem solid rgba(100, 149, 237, 0.3);
  border-bottom: 0.125rem solid #6495ED;

  border-radius: 0;

  margin: 0 0.3125rem;
  color: #FFFF66;

  min-height: 2.25rem;
  padding: 0 1rem;

  background-image: radial-gradient(rgba(100, 149, 237, 0.10) 1px, transparent 0);
  background-size: 0.25rem 0.25rem;

  text-shadow:
    -0.0625rem -0.0625rem 0 rgba(255, 0, 85, 0.5),
     0.0625rem 0.0625rem 0 rgba(0, 255, 255, 0.5);
}

.module.media {
  min-width: 20.625rem;
}

.icon {
  color: #6495ED;
  margin-right: 0.625rem;
  font-size: 1.2rem;
  text-shadow: 0 0 0.1875rem rgba(100, 149, 237, 0.8);
}

.workspaces {
  padding: 0 0.25rem;
  min-height: 2.25rem;

  .dot {
    background-color: rgba(100, 149, 237, 0.3);
    min-width: 0.5625rem;
    min-height: 1.25rem;
    border-radius: 0.0625rem;
    margin: 0 0.25rem;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .occupied {
    background-color: #6495ED;
  }

  .active {
    min-width: 1.875rem;
    min-height: 1.25rem;
    background-color: #FFFF66;
    box-shadow: 0 0 8px rgba(255, 255, 102, 0.7);
  }

}

.hud-card {
  box-shadow: 0.9375rem 0.9375rem 2.5rem rgba(0, 0, 0, 0.5);
  padding: 1.375rem;
}

.hud-status {
  font-size: 0.5625rem;
  letter-spacing: 0.125rem;
}

.hud-title {
  font-size: 1.25rem;
  margin: 0.625rem 0;
}

.hud-btn {
  font-size: 1.6rem;
  padding: 0.3125rem;
}

.hud-btn-play {
  padding: 0.5rem 1.5625rem;
}

.hud-separator {
  min-height: 0.125rem;
  margin: 0.75rem 0;
}

.vol-hud-card {
  min-width: 6.25rem;
  padding: 1.5625rem 0;
}

.vol-bar-container {
  min-width: 1.25rem;
  min-height: 15.625rem;
  margin: 0.9375rem 0;
}

.vol-bar-fill,
.vol-bar-fill-muted {
  min-width: 1.25rem;
}

.vol-indicator-line {
  min-height: 0.1875rem;
  min-width: 1.875rem;
}

.vol-hud-value {
  font-size: 1.375rem;
  margin: 0.3125rem 0;
}

.vol-hud-label,
.vol-hud-subtext {
  font-size: 0.5625rem;
  letter-spacing: 0.0625rem;
}

.notif-container {
  padding: 0 0.625rem 1.125rem 0.625rem;
}

.notif-card {
  min-height: 3.125rem;
  padding: 0.5625rem 0.6875rem;
}

.notif-pill {
  font-size: 0.5625rem;
  letter-spacing: 0.125rem;
}

.notif-app {
  font-size: 0.8125rem;
}

.notif-title {
  font-size: 1.125rem;
  margin-bottom: 0.375rem;
}

.notif-text {
  font-size: 0.875rem;
}

.notif-time {
  font-size: 0.625rem;
}

.notif-close {
  padding: 0.25rem 0.75rem;
  font-size: 0.625rem;
  margin-right: 0.9375rem;
}
